.desk {
    max-width: 500px;
    height: 100px;
    background: gray;
    margin: 0 auto 20px;
    white-space: nowrap;
    overflow-x: scroll;
}

.child {
    width: 100px;
    height: 100%;
    background: red;
    display: inline-block;
}
.desk_1{
    max-width: 500px;
    height: 100px;
    background: gray;
    margin: 0 auto 20px;
    white-space: nowrap;
    position: relative;
}
.desk_2{
    max-width: 500px;
    height: 100px;
    background: gray;
    margin: 0 auto 20px;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.child_1{
    width: 20px;
    height: 20px;
    background: yellow;
    position: absolute;
}

.child_1:nth-child(2){
    background: greenyellow;
    top: 0;
    right: 0;
}
.child_1:nth-child(3){
    background: red;
    bottom: 0;
    right: 0;
}
.child_1:nth-child(4){
    background: blue;
    bottom: 0;
}
